.sw-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.moveCss1 {
    /*
    color: white;
    background-color: gray;
    */
    display: inline-block;
    animation: Animation1 5s ease-in 0s infinite alternate;
    z-index: 30;
}
.moveCss2 {
    /*
    color: white;
    background-color: red;
    */
    display: inline-block;
    animation: Animation1 4s ease-in 0s infinite alternate;
    z-index: 30;
}
.moveCss3 {
    /*
    color: white;
    background-color: blue;
    */
    display: inline-block;
    animation: Animation1 3s ease-in 0s infinite alternate;
    z-index: 30;
}
.moveCss4 {
    /*
    color: white;
    background-color: yellow;
    */
    display: inline-block;
    animation: Animation1 2s ease-in 0s infinite alternate;
    z-index: 30;
}
.moveCss5 {
    /*
    color: white;
    background-color: green;
    */
    display: inline-block;
    animation: Animation1 1s ease-in 0s infinite alternate;
    z-index: 30;
}

@keyframes Animation1 {
    0% { transform: translate(-100%, 50%) scale(0.5); }
    25% { transform: translate(-50%, -50%) scale(0.5);}
    50% { transform: translate(0%, 50%) scale(0.5);}
    75% { transform: translate(50%, -50%) scale(0.5);}
    100% { transform: translate(100%, 50%) scale(0.5); }
}